@font-face {
  font-family: "Orbitron";
  src: url(./assets/Orbitron-VariableFont_wght.ttf)
}

#container {
  display: flex;
  justify-content:baseline;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 700px;
  background-color: grey;
}

#screen {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 80px;
  background-color: #5a6759;
  font-family: "Orbitron";
  font-size: 50px;
  color: greenyellow;
}

#visibleButtons {
  background-color: rgb(117, 113, 113);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  width: 80%;
  height: 80%;
  margin: 20px auto;
}

#visibleButtons button {
  flex: 1 1 auto;
}